---
---

@import "{{ site.theme }}";

/* Done so that Twitter name fits on one line */
span.username {
  font-size: 93%;
}

/* Bylaws Google Doc iframe styling */
iframe.bylaws {
  border: 1px solid #ccc;
  width: 100%;
  min-height: 700px;
}

#sponsors a:hover,
#sponsors a:focus {
  text-decoration: none;
}