---
layout: page
title: TechTalks
permalink: /techtalks/
---
<div class="home">

  <h1>Recent and Upcoming TechTalks</h1>
  <p>Browse the each TechTalk for more information on the event, and the
    presenter.  Under each TechTalk you can participate in a discussion among
    other students, and the Officers of ACM/AITP.</p>

  {% for post in site.posts %}
    {% if post.categories contains 'techtalk' %}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    <p>
      {{ post.excerpt }}
    </p>
    {% endif %}
  {% endfor %}
</div>
