---
layout: default
---

<div class="home">

  <h1 align="Center">Site Overview</h1>
  <p>
    Welcome to the NC State Chapter Website of the Association of Computing Machinery
    and the Association of Information Technology professionals.
    <br/><br/>
    Information about the organization, upcoming events, and student opportunities
    can be found through the links in the menu above and below.
  </p>
  <ul>
    <li><a href=https://getinvolved.ncsu.edu/actioncenter/organization/acm-aitp-ncsu>
        NC State GetInvolved Site</a></li>
    <li><a href=/opportunities/>
        Student Opportunities</a></li>
  </ul>

  <br/>
  <h1>Latest News and Updates</h1>

  {% for post in site.posts %}
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    <p>
      {{ post.excerpt }}
    </p>
  {% endfor %}
</div>
